%menu-reset {
  z-index: 3001;

  ul{
    list-style:none;
    padding:0;
    margin:0;
    font-size:1rem;
  }

  li a{
    display: inline-block;
    vertical-align: middle;
  }

  ul li{
    &:hover > ul, ul.active{
      visibility: visible;
    }
  }

  .handle {
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 25px;
    cursor: pointer;
    vertical-align: middle;
    &:after{
      content: "";
      position: relative;
      border: solid #555;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 2px;
      transform: rotate(45deg);
      transition: all 0.3s;
    }
  }
}
