$theme: "aside-left";
$config: map-get($menu-config, $theme);

%menu-theme-#{$theme}{
  @include menu-breakpoint($theme){
    background: #00ff00;
  }

  @include autohide($config){
    background: #ff0000;
  }
}
