@include register_menu_theme("aside-left"){
  transition: all 0.3s;
  position: fixed;
  top:0;
  left:0;
  width: 235px;
  height:100%;
  background: #fff;
  border: 1px solid #e5e5e5;
  overflow: auto;

  li.active > .handle:after{
    transform: rotate(45deg);
  }

  li {
    transition: all 0.3s;
    position: relative;
    a{
      display: block;
      padding:0.8em 1em;
      border-bottom: 1px solid #e5e5e5;
    }
    .handle{
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 50px;
      height:50px;
      &:after{
        transform: rotate(-45deg);
      }
    }
    ul:not(.active) li{
      max-height: 0 !important;
      overflow: hidden;
    }
    ul{
      transition: all 0.3s;
      background: #f2f2f2;
      transform: scaleY(0);
      transform-origin: top;
      &.active{
        transform: scaleY(1);
      }
    }
  }

  li ul li ul{
    background: #eaeaea;
    li a{border-color:#ddd;}
  }

  &.active {
    transform: translateX(0);
    opacity: 1;
  }
}

@include menu-autohide("aside-left"){
  transform: translateX(-100%);
  opacity: 1;
};
